html{
    // background-color: #202020;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 125%;
}

.title-container{
    font-family: 'Roboto', sans-serif;
}

a, button{
    font-size: clamp(0.8rem, 2vw, 1.2rem);
}

a{
    text-decoration: none;
    color: white;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

.wrapper{
    width: 95%;
    margin: 0 auto;
}

.header-wrapper{
    width: min(90%, 1000px);
    margin: 0 auto;
}

.inner-wrapper{
    width: 80%;
    max-width: 1300px;
    margin: 70px auto 0 auto;
}

h1{
    font-size: clamp(2rem, 10vw, 6rem);
    margin: 0;
    text-shadow: 10px 10px rgba(173, 154, 200, 0.3);
    
}

h2{
    font-size: clamp(1.6rem, 2.5vw, 2.2rem);
    text-transform: uppercase;
}

h4{
    font-size: clamp(1.1rem, 6vw, 1.7rem);
    margin: 0;
    margin-top: 15px;
}

h3{
    // text-shadow: 5px 5px rgba(8,8,8,0.5);
    text-shadow: 5px 5px rgba(173, 154, 200, 0.3);
    font-size: clamp(1rem, 5vw, 1.6rem);
    margin: 0 0 0 5px;
}

p{
    font-size: clamp(0.7rem, 1.9vw, 1.1rem);
}

.flex-container{
    display: flex;
    align-items: center;
    margin-right: 150px;
}

.menu-button{
    display: none;
}

button{
    border-radius: 10px;
}