@use "./mixin" as *;

html{
    scroll-behavior: smooth;
}

.main-darkmode-off{
    background: linear-gradient(90deg, hsl(199.4, 42.5%, 70%) 0%, hsla(295.8, 100%, 85.9%, 0.51) 100%);
}

.main-darkmode-on{
    background: #080808;
    section{
        color: white;
    }
    h1{
        text-shadow: 10px 10px rgba(8,8,8,0.5);
    }
    h3{
        text-shadow: 5px 5px rgba(8,8,8,0.5);
    }
    section{
        background-color: #0c0c0c;   
        filter:drop-shadow(0px 0px 15px #F9D71C);
    }
    .skills-container{
        li{
            p{
                text-align: center;
            }
        }
    }
    .project-content{
        a{
            &:hover,&:focus{
                background-color: #F9D71C;
            }
        }
    }
    .contact-form{
        button{
            &:hover,&:focus{
                background-color: #F9D71C;
            }
        }
        input, textarea{
            background-color: white;
        }
        .social{
            i{
                &:hover,&:focus{
                color: #F9D71C;
                }
            }
        }
    }
}

main{
    padding-top: 50px;
    section{
        .animation-left-selection, .animation-right-selection, .animation-top-selection{
        opacity: 0;
        }
        
        @include left-slide-in-animation(-70px, 1.5s);
        @include right-slide-in-animation(70px, 1.5s);
        @include top-slide-in-animation(70px, 1.5s);
        @include sectionFormat();
        h2{
            border-bottom: 3px solid #74726b;
            margin: 30px 0 0 0;
        }
        
    }
    .introduction-container{
        margin: 50px 0 40px 0;
        .introduction-img-container{
            width: 35%;
            img{
                height: auto;
                width: 90%;
                max-width: 100%;
                border-radius: 41px;
                box-shadow: 12px 8px 8px rgba(109, 103, 103, 0.3);
                margin: 0 5%;
            }
        }
        
        .introduction-text-container{
            width: 65%;
            margin: 0px 25px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    
    }
    .skills-container{
        ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            li{
                display: flex;
                width: 16.6666666667%;
                flex-direction: column;
                align-items: center;
                margin-top: 50px;
                transition: 0.4s;
                p{
                    text-align: center;
                }
            }
            i{
                font-size: 3rem;
            }
        }
    }
    .projects-border{
        border-bottom: 3px inset #74726b;
        padding: 0 3%; 
        height: 370px;
        .project-content{
            margin: 0 15px 0 4%;
            width: 70%;
        }
    }
    .projects{
        display: flex;
        align-items: center;
        height: 100%;
        .projects-image-container{
            width: 30%;
        }
        img{
            width: 100%;
            height: auto;
        }
        i{
            font-size: 1.2rem;
            padding-right: 15px;
        }
        .github-button, .live-button{
            @include buttonFormat();
        }
        a{
            transition-duration: 1s;
            &:hover,&:focus{
                transform: scale(1.1);
                background-color: #bc7eff;
            }
        }
    }
    .contact-container{
        display: flex;
        align-items: center;
    }
    .contact-form{
        width: 50%;
        margin: 0 auto;
        .social{
            display: flex;
            li{
                margin-left: 15px;
            }
            i{
                font-size: clamp(1.2rem, 2vw, 2.5rem);
                color: #74726b;
                transition-duration: 0.5s;
                &:hover,&:focus{
                color: #bc7eff;
                transform: scale(1.1);
                }
            }
        } 
        form{
            display: flex;
            flex-direction: column;
        }
        input, textarea{
            margin-bottom: 15px;
            border: none;
            padding-left: 5px;
            background-color: rgba(240, 233, 241, 0.7);
            border-radius: 5px;
        }
        textarea{
            resize: none;
        }
        input{
            height: 45px;
        }
        .button-container{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        button{
            width: fit-content;
            padding: 10px;
            align-self: center;
            border: none;
            background-color: #74726b;
            color: white;
            cursor: pointer;
            transition-duration: 1s;
            &:hover,&:focus{
                // background-color: #F9D71C;
                background-color: #bc7eff;
                transform: scale(1.1);
            }
        }
    }
    .contact-image{
        width: 50%;
        margin-top: 30px;
        img{
            width: 90%;
            height: auto;
            margin: 0 5%;
            border-radius: 40px;
            box-shadow: 12px 8px 8px rgba(109, 103, 103, 0.3);
        }
    }
}

