@mixin sectionFormat(){
     border-radius: 50px;
    background-color: white;
    color: rgb(36, 36, 36);
    padding: 60px;
    filter:drop-shadow(0px 0px 15px #deb1df);
}

@mixin buttonFormat(){
    background-color: #74726b;
    padding: 10px 20px;
    margin: 15px 10px 15px 0;
    display: inline-block;
    border-radius: 10px;
}

@mixin flexFormat($justify:initial, $align:initial, $direction:row){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@mixin header-left-animation($animation-time){
    @keyframes animation {
        0% {
            opacity: 0;
            transform: translateX(-70px);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
    .animation-left {
        position: relative;
        animation: animation $animation-time ease-out;
    }
    .animation-delay{
        animation: animation-delay 2.4s ease-out;
        position: relative;
    }
    @keyframes animation-delay {
    0% {
        opacity: 0;
        transform: translateX(-70px);
    }
    50%{
        opacity: 0;
        transform: translateX(-70px);

    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
    }
};

@mixin moon-animation(){
    .ball-container {
      margin: auto;
      animation: floating 4s ease-in-out infinite;
      border-radius: 50%;
      position: relative;
    }
    @keyframes floating {
        0% {
            transform: translatey(30px);
        }

        50% {
            transform: translatey(-10px);
        }

        100% {
            transform: translatey(30px);
        }
    }
    @keyframes expanding {
        0%,
        100% {
            transform: scale(0.5);
        }

        50% {
            transform: scale(0.75);
        }
    }
}